/* ------- Desktop First --------- */
/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1200px) {
	footer .footer__wrapper span {
		margin-top: 20px;
		text-align: center;
	}
	ul {
		padding: 0;
	}
}

/* Medium Devices, Desctops */
@media only screen and (max-width: 982px) {
	footer .footer__wrapper span {
		max-width: 100vw;
		margin-top: 20px;
		margin-left: unset;
		text-align: center;
		color: rgb(197, 197, 197);
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	footer .footer__wrapper span {
		max-width: 100vw;
		margin-left: unset;
		text-align: center;
		color: rgb(197, 197, 197);
	}
	.footer__wrapper_logo {
		margin-right: 10px;
	}
}

@media only screen and (max-width: 549px) {
	.card-item {
		width: 100%;
		min-height: 350px;
		padding: 10px;
		background-color: rgba(94, 93, 93, 0.377);
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		transition: all 0.1s ease-in;
		overflow: hidden;
		cursor: pointer;
	}
	main .main__wrapper {
		width: 100%;
		position: relative;
		padding: 0px 0px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		gap: 20px 20px;
	}
	#hidden {
		padding: 0 0;
	}
	.card-item .item--button {
		border: unset;
		background-color: rgb(160, 160, 160);
		border-radius: 4px;
		width: 250px;
		height: 50px;
		margin: 0 0 15px 0;
		padding: 15px;
		cursor: pointer;
		transition: all 0.2s ease;
		font-weight: 600;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	footer .footer__wrapper {
		padding: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
  }
  footer .footer__wrapper span {
	max-width: 100vw;
	margin-left: unset;
	text-align: center;
	color: rgb(197, 197, 197);
}
.header__menu {
	display: none;
}
.hamburger-menu {
	display: block;
}
.user {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #000;
	background-color: #8d8d8d;
	cursor: pointer;
	transition: all 0.2s ease;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: absolute;
	right: 70px;
}

}

@media only screen and (max-width: 449px) {
	.footer__wrapper_logo {
		margin-right: unset;
	}
}

/* Custom, Iphone Retina */
@media only screen and (max-width: 320px) {

}










@media (pointer:coarse) {
	.head__wrapper ul li:hover {
		color: #000;
	}
	.user:hover {
		background-color: #8d8d8d;
	}
	.card-item:hover {
		box-shadow: none;
	}
	.card-item .item--button:hover {
		background-color: rgb(160, 160, 160);
	}
	#show__button:hover {
		background-color: #000;
		transition: none;
	}
	.footer__wrapper ul li:hover {
		color: #fff;
	}
	.item--logo img:hover {
		transform: none;
	}
	}