@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);

*,
*:before,
*:after {
    box-sizing: border-box;
}


/************************************************/
/****************** BURGER NAVIGATION START ******************/
/************************************************/
.hamburger-menu {
	display: none;
}
/* скрываем чекбокс */
#menu__toggle {
	opacity: 0;
 }
 /* стилизуем кнопку */
 .menu__btn {
	display: flex; /* используем flex для центрирования содержимого */
	align-items: center;  /* центрируем содержимое кнопки */
	position: fixed;
	top: 20px;
	right: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 999;
 }
 /* добавляем "гамбургер" */
 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
 }
 .menu__btn > span::before {
	content: '';
	top: -8px;
 }
 .menu__btn > span::after {
	content: '';
	top: 8px;
 }

/* Теперь стилизуем само меню. 
По-умолчанию оно будет скрыто — visibility: hidden, 
а открываться будет при установки галки на чекбокс. */

/* контейнер меню */
.menu__box {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: -100%;
	z-index: 99;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 80px 0;

	list-style: none;
	text-align: center;

	background-color: #eceff1f1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {
	display: block;
	padding: 12px 24px;

	color: #333;

	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;

	text-decoration: none;
}
.menu__item:hover {
	background-color: #cfd8dc;
}

/* Возможно, вам покажется непонятной строка 
.menu__btn > span, а именно комбинатор >.
Этот комбинатор находит прямых потомков элементов 
отобранных первым селектором. */

/* Открыть / закрыть меню
Отлично, со стилизацией закончили, 
однако меню у нас до сих пор не работает. 
Самое время перейти к главной теме этого 
туториала — как реализовать открытие / закрытие 
меню только на CSS, используя чекбокс? */

#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
}

/* По порядку, начиная с самого простого:
Свойство transform: rotate(45deg) — поворачивает элемент 
на 45 градусов. Поворачивая элементы кнопки меню под разным 
углом, мы получаем значок “крестик”, вместо горизонтальных 
линий.
Псевдокласс :checked — находит только выбранные или 
включенные элементы. В нашем случае при активации чекбокса 
он становится :сhecked. Подробнее по ссылке — 
https://developer.mozilla.org/ru/docs/Web/CSS/:checked
Комбинатор ~ — находит элементы, указанные справа, 
которые следуют за элементом, указанным слева и имеют с
ним общего родителя. Подробнее — 
https://developer.mozilla.org/ru/docs/Web/CSS/General_sibling_selectors 
*/

/* Добавим немного анимации
Для этого просто добавим свойство
 transition-duration: .25s следующим классам: */

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	transition-duration: .25s;
}

.menu__box {
	transition-duration: .25s;
}

.menu__item {
	transition-duration: .25s;
}

/************************************************/
/****************** BURGER NAVIGATION END ******************/
/************************************************/


















html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	/* background-color: rgb(29,31,32); */
}
ul li {
	text-decoration: none;
	list-style: none;
}
a {
	text-decoration: none;
	color: unset;
}

header,
.header {
	width: 100%;
	min-height: 70px;
	background-color: rgba(218, 218, 218, 0.966);
	display: flex;
	align-content: center;
	align-items: center;
	position: block;
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.493);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.493);
}

header .head__wrapper {
	width: 100%;
	padding: 0 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-content: center;
}

.head__wrapper_logo {
	width: 150px;
	height: 60px;
	background-size: cover;
	cursor: pointer;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.head__wrapper_logo img {
	width: 100%;
	height: 100%;
}
.head__wrapper > ul{
	margin: 0;
	padding: 0;
	height: 100%;
}
.head__wrapper > ul li {
	display: inline-block;
	font-family: "Oswald";
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	transition: all 0.1s ease;
}
.head__wrapper > ul li:not(:last-child) {
	margin-right: 50px;
}
.head__wrapper > ul li:hover {
	color: #ffffff;
}
.user {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #000;
	background-color: #8d8d8d;
	background-image: url(https://sun9-22.userapi.com/impg/o-DcjQ7O5U9Cmjb1c2oTP98GOs3JPtyKSDbixQ/RPQO5Hvusgg.jpg?size=1278x1278&quality=96&sign=d08fb3f7d2eef07d3f70cdae3c8b7d1a&type=album);
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 background-size: cover;	
 image-rendering: -moz-crisp-edges; /* Firefox */
-ms-interpolation-mode: nearest-neighbor;  /* IE */
image-rendering: crisp-edges; /* Стандартное свойство */
	cursor: pointer;
	transition: all 0.2s ease;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.user:hover {
	background-color: #998686;
}
.fixed {
	position: fixed;
	z-index: 9999;
}


main {
	width: 100%;
	background-color: rgb(29,31,32);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: calc(100vh - 80px);
}
main .main__wrapper {
	width: 100%;
	position: relative;
	padding: 50px 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	gap: 20px 20px;
}
#hidden {
	width: 100%;
	position: relative;
	padding: 0 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	gap: 20px 20px;
}
#hidden {
	display: none;
}
.card-item {
	width: 250px;
	min-height: 350px;
	padding: 10px;
	background-color: rgba(94, 93, 93, 0.377);
	display: flex;
	flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-items: center;
	position: relative;
	transition: all 0.1s ease-in;
	overflow: hidden;
	cursor: pointer;
}
.card-item:hover {
	box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.507);
}
.item--logo img {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	transition: all 0.3s ease-in;
	overflow: hidden;
}
.item--logo img:hover {
	transform: scale(1.3);
}
.card-item .item--logo {
	top: 0;
	width: 100%;
	height: 150px;
	background-color: rgb(173, 0, 0);
	position: absolute;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.3s ease-in;
	cursor: pointer;
}
.card-item .item--descr {
	position: absolute;
	max-width: 100%;
	font-weight: 500;
	font-size: 12px;
	top: 42%;
	padding: 10px;
	height: 130px;
	overflow: hidden;
	font-family: "Open Sans";
	color: rgb(207, 207, 207);
	cursor: default;
}
.card-item .item--button {
	border: unset;
	background-color: rgb(160, 160, 160);
	border-radius: 4px;
	width: 150px;
	height: 25px;
	margin: 0 0 10px 0;
	padding: 15px;
	cursor: pointer;
	transition: all 0.2s ease;
	font-weight: 600;
	overflow: hidden;
	display: flex;
	align-items: center;
    justify-content: center;
    align-content: center;
}
.card-item .item--button:hover {
	background-color: rgb(255, 255, 255);
}

#show__button {
	background-color: #000;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	width: 250px;
	height: 50px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 25px 0;

}
#show__button:hover {
	background-color: rgba(0, 0, 0, 0.603);
	transition: all 0.2s ease;
}

footer {
	width: 100%;
	min-height: 150px;
	background-color: rgb(53, 53, 53);
	display: flex;
	align-content: center;
}

footer .footer__wrapper {
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: wrap;
}
footer .footer__wrapper span {
	max-width: 50vw;
	margin-left: 20px;
	color: #a2ed56;
	overflow: hidden;
}

.footer__wrapper_logo {
	width: 150px;
	height: 60px;
	cursor: pointer;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.footer__wrapper_logo img {
	width: 100%;
	height: 100%;
}
.footer__wrapper ul li {
	display: inline-block;
	font-family: "Oswald";
	font-weight: 500;
	text-transform: unset;
	font-size: 14px;
	transition: all 0.3s ease;
	color: #fff;
}
.footer__wrapper ul li:not(:last-child) {
	margin-right: 20px;
}
.footer__wrapper ul li:hover {
	color: #a2ed56;
}
